* *::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    display: flex;
    justify-content: center;
    font-family: sans-serif;
    background-color: #f0f0f5;
    /* background-color: #f5ebff; */

    .app {
        width: 70%;
        min-width: 450px;
        max-width: 900px;
        padding: 20px;
        margin-top: 70px;
        background-color: #fff;
        border-radius: 8px;
        box-shadow: 0 4px 10px #0000001a;

        h1 {
            text-transform: uppercase;
            text-align: center;
        }

        form {
            display: flex;
            justify-content: space-between;

            input {
                width: 85%;
                height: 25px;
                padding: 5px;
                border-radius: 4px;
                border: 1px solid #cbcbcb;

                &:focus {
                    border: 1px solid #b880f1;
                    outline: none
                }
            }

            .add {
                background-color: #7c3aed;

                &:hover {
                    background-color: #5b21b6;
                }
            }
        }

        .btn {
            width: 35px;
            height: 35px;
            border-radius: 4px;
            font-size: 18px;
            border: none;
            color: #000000;
            font-weight: bold;
            cursor: pointer;
            transition: background-color 0.2s ease;
        }

        .completed {
            text-decoration: line-through;
            cursor: pointer;
        }

        ul {

            li {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin-bottom: 10px;

                .actonBtns {
                    display: flex;
                    justify-content: space-between;
                    width: 20%;

                    .edit {
                        font-size: 14px;
                        background-color: #10b981;

                        &:hover {
                            background-color: #059669;
                        }
                    }

                    .delete {
                        background-color: #ef4444;

                        &:hover {
                            background-color: #b91c1c;
                        }
                    }
                }
            }
        }
    }
}